body {
    font-family: Dosis, Roboto, 'Open Sans', sans-serif;
    margin: 0;
    min-height: 100vh;
    background-image:linear-gradient(#EEE2DC, #EDC7B7);
    display: flex;
    flex-direction: column;

}

.sketchpageholder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.sketchpage {
    width: 500px;
    height: 500px;
    background: white;
    display: flex;
    flex-wrap: wrap;
}

.dot {
    border: solid 1px #BAB2B5;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

a:link, a:visited {
    text-decoration: none;
    color: #ac3b61;
}

a:hover, a:active {
    text-decoration: underline;
}

.top {
    text-align: center;
    color: #ac3b61;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
}

.button {
    background: none;
    border: 5px solid #123C69;
    line-height: 1;
    margin: 0.5em;
    padding: .5em .5em;
    color: #ac3b61;
    transition: 0.25s;
    font-size: 24px;
    font-weight: 800;
    font-family: Dosis;
}

.button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #23476e;
  transform: translateY(-0.25em);
}

.slidecontainer {
    text-align: center;
    color: #ac3b61;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
}

.slider {
    -webkit-appearance: none;
    width: 500px;
    height: 25px;
    background: #BAB2B5;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #123C69;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #123C69;
    cursor: pointer;
  }

  .tools {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;

}

.footer {
    background-color: #BAB2B5;
    color: #123C69;
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
}